fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
groq
PyMuPDF
python-docx
python-jose[cryptography]
passlib[bcrypt]
bcrypt<=4.0.1
pgvector
reportlab
pypdf
scikit-learn
numpy
email-validator